* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --background-color: #1f2b3b;
  --primary-color: #2b3c52;
  --accent-color: orange;
  --text-color: white;
}

html {
  background-color: var(--background-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

p {
  margin: 1rem 0 1rem 0;
}

a {
  text-decoration: none;
}

body {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

main {
  padding-top: 70px;
}

main section {
  min-height: 100vh;
  min-height: 100dvh;
}

#about-me,
#projects,
#contact {
  scroll-margin-top: 100px;
}

.container-basic-style {
  border-radius: 15px;
  background-color: var(--primary-color);
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px;
  border-color: var(--accent-color);
  border-bottom-style: solid;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  /* Sticky */
  /* position: sticky;
    top: 70px;
    background-color: var(--background-color); */
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.no-margin {
  margin: 0;
}

.center-text {
  text-align: center;
}

/* --- buttons --- */

.btn {
  display: block;
  border-radius: 15px;
  width: fit-content;
  height: auto;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-orange {
  border: none;
  background-color: var(--accent-color);
  text-shadow: 1px 1px var(--background-color);
}

.border-transition {
  transition: border-color 300ms;
  &:hover {
    border-color: var(--accent-color);
  }
}

.btn-transition {
  transition: background-color 300ms;
  &:hover {
    background-color: rgb(255, 185, 55);
  }
}

footer {
  margin-bottom: 1rem;
}

/* Screen reader stuff */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
